<link rel="stylesheet" href="~/css/Support.css">

<header class="jumbotron text-center">
    <h1 class="display-4">İletişim</h1>
    <p class="lead">Bize ulaşın, görüş ve önerilerinizi paylaşın.</p>
</header>
<center>
    <div class="container">
        <div class="col-md-6">
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 40px;">Genel İletişim</h5>
                    <p class="card-text">Genel sorularınız ve iletişim için:
                        <a href="mailto:balmutffak@hotmail.com">balmutffak@hotmail.com</a>
                    </p>
                    <p>
                        İnstagram: <a href="https://www.instagram.com/Balmutffak" target="_blank">Balmutffak </a>
                    </p>
                    <p>+90 535 348 58 46</p>
                </div>
            </div>
        </div>
    </div>
</center>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
