.container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
    color: #626262;
    font-family: 'Helvetica Neue', sans-serif;
}

.container h3 {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;
    margin-top: -20px;
}

.text-card {
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    width: 49%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 5%;
}

.text-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: 0.6s;
}

i {
    margin: 0px 10px;
}

.text-card,
.about {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.text-card.visible,
.about.visible {
    opacity: 1;
    transform: translateY(0);
}


.about {
    margin-top: 10%;

}

.about h3 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #ff5900;
    text-align: center;

}

.about p {
    margin-top: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #626262;
}

@media (max-width: 768px) {
    .about {
        width: 110%;
        font-size: large;
    }
}